a{
  color: inherit;
  text-decoration: none;
}
.linkpro2 a p:hover{
  background-color: gold;
}

button{
  outline: none;
  box-shadow: 0 5px lightgrey;
}
button:active{
  transform: translateY(3px);
  box-shadow: 0 2px lightgrey;
}

input{
  outline: none;
}
textarea{
  outline: none;
}

body{
  border-style: solid;
  box-shadow: 0px 0px 15px 15px rgba(211, 211, 211, 0.6);
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-image: url("image/background.png")
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
}

h1{
  display: flex;
  align-items: center;
}

h2{
  margin-left: 10%;
  text-decoration: underline;
  text-decoration-color: blue;
}

.name{
  height:70px;
  width: auto;
}

.latin{
  font-size: 10px;
  font-style: oblique;
}
.cours{
  width: 300px;
  font-size: 15px;
  font-style: oblique;
}

.sec{
  margin: 0px 50px;
  margin-bottom: 70px;
  background-color: rgba(245, 245, 245, 0.5);
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
}
span{
  margin-left: 10px;
}
.sec h2 img{
  height:30px;
  width: auto;
}

.proinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: rgba(211, 211, 211, 0.6);
  margin-left: 1%;
  margin-right: 1%;
}
.proinfo figure img{
  height: 300px;
  width: auto;
  border-style: double;
  border-radius: 50%;
}
.proinfo .inf{
  text-align: center;
  font-size: 30px;
}
.proinfo .inf .txtinfo{
  width: 300px;
  padding: 10px;
}
.proinfo .inf .butdown{
  height:30px;
  width:150px;
  border-color: blue;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: white;
}

.linkpro2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comp{
  margin-left: 10%;
  margin-right: 10%;
}
.comp p{
    flex: 0 0 10%;
  }
.comp p img{
  height: 18px;
  width: auto;
}
.comp1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.comp2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.comp3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.compimg{
  display: flex;
  align-items: center;
}
.digi{
  display: flex;
  flex-direction: row;
  float: left;
  align-items: center;
  margin-left: 4%;
}

.etude{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: stretch;
}
.etude .etu figure .stuicon{
  height: 60px;
  width: auto;
}
.etu{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
}

.contact{
  height: 30px;
  width: auto;
}

.contact1{
  height: 15px;
  width: auto;
}

.hobby{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hobby div img{
  height: 30px;
  width: auto;
}
.hobby div p{
  font-style: italic;
}
.hobby .hobg{
  display: flex;
  justify-content: center;
  width: 120px;
  border: 2px solid;
  text-align: center;
  border-style: dotted;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.noir{
  margin-top: 2%;
  text-align: center;
}
.jsbutton{
  height: 10px;
  width: 60px;
  background-color: darkcyan;
}

.pro{
  margin-left: 50px;
}

.message{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 17px;
  border-style: solid;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: whitesmoke;
}

footer{
  border-top: 2px solid black;
  margin-top: 25px;
}
.foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px 50px;
}

.projectinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: rgba(211, 211, 211, 0.6);
  margin-left: 1%;
  margin-right: 1%;
}
.projectinfo figure img{
  height: 200px;
  width: auto;
  border-style: double;
  border-radius: 50%;
}
.projectinfo .projectinf h3{
  font-size: 80px;
}
